.mapcontainer {
    // margin-top: 6rem;
    height: 90vh;
    width: 100%;
    position: fixed
}



.paper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
}

.mapContainer {
    height: 85vh;
    width: 100%;
}

.markerContainer {

    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;

    &:hover {
        z-index: 2
    }


}

.pointer {
    cursor: pointer;
}

;