.chat-assignment {
    background: rgba(248, 249, 253, 255);
    height: 100vh;
    padding: 50px 0;

    .overlay {
        max-width: 80%;
        margin: auto;
        background: #fff;
        height: 100%;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 2fr 5fr 2fr;

        .left {
            padding: 20px;

            .heading {
                h2 {
                    display: flex;
                    align-items: center;

                    .icon {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background: rgba(214, 225, 255, 255);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 10px;
                    }

                    p {
                        font-weight: bold;
                    }
                }
            }

            .profile-section {
                background: rgba(245, 248, 253, 255);
                width: 200px;
                height: 170px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 15px 0;
                border-radius: 10px;

                img {
                    width: 50px;
                    border-radius: 50%;

                }

                .name {
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                }
            }

            .active-conservation {
                .heading {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    cursor: pointer;

                    h4 {
                        font-weight: bold;
                    }
                }

                .conversations {
                    li {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        padding: 5px 20px 5px 10px;
                        border-radius: 10px;

                        &:hover {
                            background: rgba(243, 246, 251, 255);
                        }

                        img {
                            width: 30px;
                            border-radius: 50%;
                        }

                        p {
                            margin-left: 20px;
                        }

                        &.active {
                            background: rgba(243, 246, 251, 255);

                        }
                    }
                }

            }

            .archived-conservation {
                h4 {
                    font-weight: bold;
                }
            }
        }

        .middle {
            background: rgba(243, 246, 251, 255);
            margin: 20px 0;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .chat-section {
                overflow: scroll;


                li {
                    list-style: none;

                    padding: 5px 10px;
                    border-radius: 10px;
                    margin: 3px 0;

                    .message-left {
                        background: #fff;
                        border-radius: 10px;
                        padding: 5px 10px;
                        width: fit-content;
                    }

                    .message-right {
                        color: #fff;
                        display: flex;

                        .message {
                            background: rgba(25, 35, 60, 255);
                            margin-left: auto;
                            padding: 5px 10px;
                            border-radius: 10px;

                        }

                    }


                }
            }

            .send-message-section {
                height: 50px;
                background: #fff;
                margin: 20px;
                display: flex;
                align-items: center;
                padding: 0 20px;
                border-radius: 10px;

                form {
                    display: flex;
                    align-items: center;
                    width: 100%;

                }

                input {
                    outline: none;
                    border: 1px solid grey;
                    border-radius: 10px;
                    height: 30px;
                    width: 100%;
                    padding: 0 4px;
                    display: flex;
                    align-items: center;
                }

                button {
                    padding: 5px 15px;
                    background: rgba(14, 75, 254, 255);
                    border-radius: 10px;
                    color: #fff;
                    margin-left: 10px;
                }
            }
        }
    }
}